<div class="jumbotron">
  <h1>Welcome to WolfieReader</h1>
  <p>Since they shut down Google Reader we're going to bring it back like the party never left and with more features. Well, maybe.</p>


  <p><%= link_to 'About', about_path, class: "btn btn-primary btn-lg" %></p>
</div>
