<%
    gems = [{name: 'rails', version: '4.2.2'},
            {name: 'bootstrap-sass', version: '3.2.0.0'},
            {name: 'sass-rails', version: '5.0.2'},
            {name: 'uglifier', version: '2.5.3'},
            {name: 'coffee-rails', version: '4.1.0'},
            {name: 'jquery-rails', version: '4.0.3'},
            {name: 'turbolinks', version: '2.3.0'},
            {name: 'jbuilder', version: '2.2.3'},
            {name: 'sdoc', version: '0.4.0' },
            {name: 'sqlite3', version: '1.3.9'},
            {name: 'byebug', version: '3.4.0'},
            {name: 'web-console', version: '2.0.0.beta3'},
            {name: 'spring', version: '1.1.3'},
            {name: 'minitest-reporters', version: '1.0.5'},
            {name: 'mini_backtrace', version: '0.1.3'},
            {name: 'guard-minitest', version: '2.3.1'},
            {name: 'pg', version: '0.17.1'},
            {name: 'rails_12factor', version: '0.0.2'}]
%>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <% gems.each do |gem| %>
      <tr>
        <td><%= gem[:name] %></td>
        <td><%= gem[:version] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
